---
interface Props {
    url: string;
    label: string;
    type?: string;
}

const { url, label, type } = Astro.props;
---

<a href={url || "/"} class={type ? `cta-${type}` : ''}>{label}</a>

<style>
    a, button {
        display: inline-block;
        width: max-content;
        height: fit-content;
        padding: 0.5rem 1.5rem;
        border: 1px solid var(--c-border);
        color: var(--c-text);
        text-decoration: none;
        font-size: 0.9375rem;
        line-height: 2.4;
        cursor: pointer;
        text-align: center;
        white-space: nowrap;

        &:hover, &:focus-visible {
            background-color: color-mix(in srgb, var(--c-bg-page), white 10%);
        }
    }

    .cta-highlight {
        border: 1px solid var(--c-highlight);
        background-color: var(--c-highlight);
        color: var(--c-text-invert);

        &:hover, &:focus-visible {
            background-color: color-mix(in srgb, var(--c-highlight), white 50%);
        }
    }
</style>